*.dll
*.exe
temp/
.sublime-grunt.cache
node_modules/nw/
node_modules/grunt-contrib-jshint/
node_modules/grunt/
node_modules/.bin/nw
node_modules/.bin/nw.cmd
data/datastore/*
data/temp_msg/*
data/files/*
!data/datastore/.keep_me
!data/temp_msg/.keep_me
!data/files/.keep_me
chrome/
data/options.json
data/peerlist.json
data/posts.db
data/ths-data/
data/datastore.json
test_*.js