@font-face {
    font-family: 'Open Sans';
    src: url("fonts/OpenSans-Regular.eot?v=1.1.0");
    src: url("fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), 
         url("fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), 
         url("fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), 
         url("fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/OpenSans-Semibold.eot?v=1.1.0");
    src: url("fonts/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), 
         url("fonts/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), 
         url("fonts/OpenSans-Semibold.woff?v=1.1.0") format("woff"), 
         url("fonts/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), 
         url("fonts/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal; 
}


html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-family: 'Open Sans';
    margin: 0;
}

a {
	color: #FF6600;
}

a:hover {
	color: #0066FF;
}

hr {
    border: 0;
    height: 1px;
    background: #aaa;
}

div#header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding-right: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EEEEEE;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div#pages {
  margin-top: 25px;
}

div.headbutton {
    height: 25px;
    min-width:100px;
    line-height: 25px;
    float: right;
    background: #ddd;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    padding: 0 5px 0 5px;
}

div.headbutton.selected{
    background: #fff;
    box-shadow: 0 0 5px #999;
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.page {
    width: 100%;
    display: none;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.hidden {
    display: none;    
}


.show {
    display: block;    
}

.hidbord_msg { 
    display: block; 
    border-right: 1px solid #999; 
    border-bottom: 1px solid #999; 
    border-left: 1px solid #fafafa; 
    border-top: 0; 
    margin: 2px 10px 10px 2px; 
    background-color: #fafafa; 
    padding: 5px;
    word-wrap: break-word;
}

#msgs_menu {
    float: left;
    width: 150px;
}

#msgs_content {
    padding: 10px;
    margin-left: 150px;
    border-left: 2px solid #aaa;
}


code { 
  padding: 0 4px; 
  color: #c7254e; 
  background-color: #f9f2f4; 
  white-space: nowrap; 
  border-radius: 4px; 
}

.hidbord_msg code, 
.hidbord_msg kbd, 
.hidbord_msg pre, 
.hidbord_msg samp { 
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; 
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; }

.hidbord_spoiler code { padding: 0; 
}

pre { 
  clear: left; 
  display: block; 
  padding: 9.5px; 
  margin: 10px; 
  font-size: 13px; 
  line-height: 1.42857143; 
  word-wrap: break-word; 
  border-radius: 4px; 
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
} 

.hidbord_spoiler, .hidbord_spoiler code { background-color: #CCCCCC; }
.hidbord_spoiler:not(:hover) pre{ background-color: #CCCCCC; }
.hidbord_spoiler:not(:hover) img{ opacity: 0; }
.hidbord_spoiler:not(:hover), .hidbord_spoiler:not(:hover) * { color: #CCCCCC !important; }
.hidbord_quot1 { color: #789922; }
.hidbord_quot2 { color: #546c18; }

.nfavbar-inverse {
  background-image: none;
  background-color: #222;
    border-color: #080808;
}

#page-wrapper{
  position: fixed;
  right: 0;
  top: 50px;
  bottom:0;
  left: 250px;
  overflow: auto; 
}

#side-nav{
  position: fixed;
  left: 0;
  top: 50px;
  bottom:0;
  width: 250px;
  overflow: auto; 
}

.navbar-right{
  margin-right: 0 !important;
}

    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }

.side-nav li>ul {
    padding: 0;
}

.side-nav li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav li>ul>li>a:hover {
    color: #fff;
}

.reply {
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  min-width: 500px;
}

.op { 
  display: inline-block;
  min-width: 500px;
  margin-right: 50px;
}

.panel{
  margin-bottom: 5px;
}
.panel-body {
    background-color: #fafafa;
    
}

.shorten-post .panel-body {
  max-height: 250px;
  overflow: auto;
}

.temp_msg:not(:hover) { opacity: 0.4;}